
.bbc_table {
	width: auto;
	margin: auto;
}

.bbc_table th {
	background-color: lightgreen;
	padding: 5px 9px !important;
	text-align: center;
}

.bbc_table td {
	text-align: left;
	padding-left: 5px !important;
}

.bbc_table tr {
	background-color: white;
}

.bbc_table tr:nth-child(2n) {
	background-color: lightyellow;
}
